body{
    margin: 5%;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

main{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
}

footer{
    display: flex;
    height: 70px;
    width: 90%;
    margin:auto;
    background-color: lightgray;
}

.bannerimg{
    margin-bottom: 20px;
}
